<html>
<head>
    <meta charset="utf-8">
    <title>Bán linh kiến</title>

    <link href="~/fonts/Style/Main.css" rel="stylesheet">
    <link href="~/fonts/jquery-simplyscroll-2.0.5/jquery.simplyscroll.css" rel="stylesheet">
    <link href="~/fonts/Style/jquery-ui.css" rel="stylesheet">
    <link href="~/fonts/Style/cart.css" rel="stylesheet">
    <link href="~/fonts/Style/login.css" rel="stylesheet">
    <script src="~/fonts/Js/jquery-3.2.1.min.js" rel="stylesheet"></script>
</head>
<body>
   
    <div id="divlogout">
    </div>
    <div id="container">
        <header>
            <div id="logo">
                <img src="~/Content/Photo/images/logo.jpg">
            </div>
            <div id="flashHeader">
                <a href="javascript:gotoshow()"><img src="http://localhost:50644/Areas/Admin/Content/Slideshow/h2.jpg" name="slide" border="0" style="filter:progid:DXImageTransform.Microsoft.Pixelate(MaxSquare=15,Duration=1)"></a>
            </div>
            <div style="height: 100%; width: 21%;  height: 150px; ">
                <div class="feildBasic" align="center">
                    <div class="divAccount">
                        <div>
                            <table style="width:100%; table-layout: fixed">
                               @{
                                   var username = Session["username"];
                                   if (username == null)
                                   {
                                    <tbody>
                                        <tr>
                                            <td align="center">
                                                <a href="~/Admin/AdminHome/Logup">
                                                    <h4 id="btnDangKy">Đăng ký</h4>
                                                </a>
                                            </td>
                                            <td align="center">
                                                <a href="~/Admin/AdminHome/Login">
                                                    <h4 id="btnDangNhap">Đăng Nhập</h4>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                   }
                                   else
                                   {
                                    <tr>
                                        <td align="center">
                                            <b>Chào mừng bạn quay trở lại </b>
                                             <h4 id="btnDangKy">@username</h4>
                                        </td>
                                         
                                    </tr>
                                   }

                            } 
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <p class="clear"></p>
        </header>
        <nav>
            <!-- CSS for Tab Menu #4 -->
            <script src="~/fonts/ddtabmenufiles/ddtabmenu.js"></script>
            <link rel="stylesheet" type="text/css" href="~/fonts/ddtabmenufiles/ddcolortabs.css">
            <script type="text/javascript">
           
            </script>
            <div id="ddtabs1" class="ddcolortabs">
                <ul>
                    <li id="1"><a href="#" class="current"><span>Trang chủ</span></a></li>
                    <li id="2"><a href="~/Home/GioiThieu" class=""><span>Giới thiệu</span></a></li>
                    <li id="3"><a href="product.php" class=""><span>Sản phẩm</span></a></li>
                    <li id="4"><a href="news.php" class=""><span>Tin tức</span></a></li>
                    <li id="5"><a href="warrantyPolicy.php" class=""><span>Chính sách bảo hành</span></a></li>
                    <li id="6"><a href="support.php" class=""><span>Hỗ trợ kỹ thuật</span></a></li>
                    <li id="7"><a href="contact.php" class=""><span>Liên hệ</span></a></li>
                </ul>
            </div>
        </nav>
        <article>
            <!-- San pham ban chay -->
            <section id='spBanChay' class='feildContent'>
                <h2>Sản Phẩm Bán Chạy</h2>
                <div id='hienThiSPBC'>
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a href='#'> <img src="#" alt="#>" /> </a>
                            <div class="gia">Giá :100</div>
                            <div class="thongTinSanPham">
                                <a href='#'> Test</a>
                            </div>
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <div class="gia">Giá :1000></div>
                                <div class="thongTinSanPham">
                                    <a href='#'> Mô tả</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='clear'></div>
                </div>
            </section>;
            <!-- San pham moi -->
            <section id='spBanMoi' class='feildContent'>
                <h2>Sản Phẩm Mới</h2>
                <div id='hienThiSPMoi'>
                    ";
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a href='product.php?ma_san_pham=<?php echo $row["ma_san_pham"] ?>'> <img src="images/san_pham/<?php echo $row[" hinh"] ?>"  alt="<?php echo $row["hinh"] ?>" /> </a>
                            <div class="gia">Giá :<?php echo number_format($row["don_gia"]) ?></div>
                            <div class="thongTinSanPham">
                                <a href='product.php?ma_san_pham= <?php echo $row["ma_san_pham"] ?>'> <?php echo $row["ten_san_pham"] ?></a>
                            </div>
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <div class="gia">Giá :<?php echo number_format($row["don_gia"]) ?></div>
                                <div class="thongTinSanPham">
                                    <a href='product.php?ma_san_pham= <?php echo $row["ma_san_pham"] ?>'> <?php echo $row["mo_ta_tom_tat"] ?></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='clear'></div>
                </div>
            </section>
        </article>
        <aside>
            <div id="Search">
                <div class="feildBasic">
                    <h4>
                        <i>
                            <img class="dot" src="~/Content/Photo/images/White_dot.svg.png">
                        </i>
                        Tìm Kiếm sản Phẩm
                    </h4>
                    <div id="formSearch" style="padding 10px">
                        <input id="textSearch" class="ui-autocomplete-input" name="nameProduct" type="text" style="float: left;">
                        <button type="button" id="btnSearch" style=" background url(~/Content/Photo/images/search_f2.png) no-repeat;background-size: contain;"> </button>
                    </div>


                </div>
                <div id="listProductFeild">
                    <div class="feildBasic">
                        <h4>
                            <i>
                                <img class="dot" src="~/Content/Photo/images/White_dot.svg.png">
                            </i>
                            Danh Mục Sản Phẩm
                        </h4>
                        <ul style="list-style-type:none" id="ListProductTitle">
                            <li class="titleProduct">Linh kiện máy tính</li>
                            <ul class="ListProduct" style="display: none;">

                                <li>
                                    <a href="index.php?ma_loai=10&amp;ten_loai=Main - Bo mạch chủ">
                                        Main - Bo mạch chủ
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=11&amp;ten_loai=CPU - Bộ vi xử lý">
                                        CPU - Bộ vi xử lý
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=12&amp;ten_loai=RAM - Bộ nhớ trong">
                                        RAM - Bộ nhớ trong
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=13&amp;ten_loai=HDD - Ổ cứng">
                                        HDD - Ổ cứng
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=14&amp;ten_loai=Monitor - Màn hình">
                                        Monitor - Màn hình
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=21&amp;ten_loai=Card hình - VGA card">
                                        Card hình - VGA card
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=22&amp;ten_loai=ODD - Ổ đĩa quang">
                                        ODD - Ổ đĩa quang
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=23&amp;ten_loai=Mouse - Chuột máy tính">
                                        Mouse - Chuột máy tính
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=24&amp;ten_loai=Keyboard - Bàn phím">
                                        Keyboard - Bàn phím
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=25&amp;ten_loai=Case - Vỏ máy tính">
                                        Case - Vỏ máy tính
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=26&amp;ten_loai=Nguồn máy tính">
                                        Nguồn máy tính
                                    </a>
                                </li>

                            </ul>
                            <li class="titleProduct">Máy tính thương hiệu</li>
                            <ul class="ListProduct" style="display: none;">

                                <li>
                                    <a href="index.php?ma_loai=28&amp;ten_loai=HP - Compaq">
                                        HP - Compaq
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=29&amp;ten_loai=CMS">
                                        CMS
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=30&amp;ten_loai=FPT Elad">
                                        FPT Elad
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=31&amp;ten_loai=DELL">
                                        DELL
                                    </a>
                                </li>

                            </ul>
                            <li class="titleProduct">Máy tính xách tay</li>
                            <ul class="ListProduct" style="display: none;">

                                <li>
                                    <a href="index.php?ma_loai=32&amp;ten_loai=Acer">
                                        Acer
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=33&amp;ten_loai=HP - Compaq">
                                        HP - Compaq
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=34&amp;ten_loai=Lenovo">
                                        Lenovo
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=35&amp;ten_loai=Toshiba">
                                        Toshiba
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=36&amp;ten_loai=Dell">
                                        Dell
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=71&amp;ten_loai=Sony Vaio">
                                        Sony Vaio
                                    </a>
                                </li>

                            </ul>
                            <li class="titleProduct">Máy văn phòng</li>
                            <ul class="ListProduct" style="display: none;">

                                <li>
                                    <a href="index.php?ma_loai=37&amp;ten_loai=Máy in">
                                        Máy in
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=38&amp;ten_loai=Máy chiếu">
                                        Máy chiếu
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=39&amp;ten_loai=Máy fax">
                                        Máy fax
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=40&amp;ten_loai=Máy photocopy">
                                        Máy photocopy
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=41&amp;ten_loai=Bộ lưu điện">
                                        Bộ lưu điện
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=42&amp;ten_loai=Máy Scan">
                                        Máy Scan
                                    </a>
                                </li>

                            </ul>
                            <li class="titleProduct">Thiết bị mạng</li>
                            <ul class="ListProduct" style="display: none;">

                                <li>
                                    <a href="index.php?ma_loai=43&amp;ten_loai=Modem ADSL">
                                        Modem ADSL
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=44&amp;ten_loai=Card mạng">
                                        Card mạng
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=45&amp;ten_loai=Switch">
                                        Switch
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=46&amp;ten_loai=Thiết bị wifi">
                                        Thiết bị wifi
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=47&amp;ten_loai=Phụ kiện TBM">
                                        Phụ kiện TBM
                                    </a>
                                </li>

                            </ul>
                            <li class="titleProduct">Phụ kiện máy tính</li>
                            <ul class="ListProduct" style="display: none;">

                                <li>
                                    <a href="index.php?ma_loai=48&amp;ten_loai=Loa vi tính">
                                        Loa vi tính
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=49&amp;ten_loai=Webcam">
                                        Webcam
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=50&amp;ten_loai=Tai nghe">
                                        Tai nghe
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=51&amp;ten_loai=USB Flash">
                                        USB Flash
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=52&amp;ten_loai=TV Box">
                                        TV Box
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=53&amp;ten_loai=Phụ kiện khác">
                                        Phụ kiện khác
                                    </a>
                                </li>

                            </ul>
                            <li class="titleProduct">Linh kiện máy in</li>
                            <ul class="ListProduct" style="display: none;">

                                <li>
                                    <a href="index.php?ma_loai=54&amp;ten_loai=Trống">
                                        Trống
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=55&amp;ten_loai=Gạt">
                                        Gạt
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=56&amp;ten_loai=Cartridge">
                                        Cartridge
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=57&amp;ten_loai=Mực đổ">
                                        Mực đổ
                                    </a>
                                </li>

                                <li>
                                    <a href="index.php?ma_loai=58&amp;ten_loai=Trục xạc">
                                        Trục xạc
                                    </a>
                                </li>

                            </ul>
                            <script>
 $('.ListProduct').hide();
  $('.titleProduct').click(function () {
    $(this).next().slideToggle(500);
});
                            </script>

                        </ul>
                    </div>
                </div>
                <div id="news">
                    <div class="feildBasic">
                        <h4>
                            <i>
                                <img class="dot" src="~/Content/Photo/images/White_dot.svg.png">
                            </i>
                            Tin Tức MỚi
                        </h4>
                        <div style=" padding:0 10px 0 10px;">
                            <p>
                                <a href="news.php?ma_bai_viet= 4" style="margin-bottom:10px">
                                    MacBook Pro 15 inch dùng chip Intel Core i5 và Core i7
                                </a>
                            </p>
                            <p>
                                <a href="news.php?ma_bai_viet= 5" style="margin-bottom:10px">
                                    Compaq Presario CQ42AX tiết kiệm năng lượng
                                </a>
                            </p>
                            <p>
                                <a href="news.php?ma_bai_viet= 6" style="margin-bottom:10px">
                                    LCD Razor LED mỏng 12,9 mm
                                </a>
                            </p>
                            <p>
                                <a href="news.php?ma_bai_viet= 7" style="margin-bottom:10px">
                                    Dell làm mới dòng Vostro V13 với nhiều cải tiến
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="nbAccess">
                    <div class="feildBasic">
                        <h4>
                            <i>
                                <img class="dot" src="~/Content/Photo/images/White_dot.svg.png">
                            </i>
                            Số người truy cập
                        </h4>
                        <div style=" padding-left:30px; ">
                            <table id="truyCap">
                                <tbody>
                                    <tr>
                                        <td>Hôm nay</td>
                                        <td align="right">2</td>
                                    </tr>
                                    <tr>
                                        <td>Hôm qua</td>
                                        <td align="right">0</td>
                                    </tr>
                                    <tr>
                                        <td>Tuần này</td>
                                        <td align="right">12</td>
                                    </tr>
                                    <tr>
                                        <td>Tháng này</td>
                                        <td align="right">33</td>
                                    </tr>
                                    <tr>
                                        <td>Tất Cả</td>
                                        <td align="right">64</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <div class="clear"></div>
        <footer>
            <p>
                Bài tập lớn môn công nghệ web Nguyễn Quang Linh
                <br>
                Học viện kỹ thuật Quân sự
            </p>
        </footer>
    </div>
    <!--Reference-->
    <script src="~/fonts/Js/Menu.js"></script>
    <script src="~/fonts/Js/SimplyScroll.js"></script>
    <script src="~/fonts/Js/jquery-ui.js"></script>
    <script src="~/fonts/jquery-simplyscroll-2.0.5/jquery.simplyscroll.js"></script>
    <script>
        $(document).ready(function () {
            $('#btnSearch').click(function () {
                let name = $('#textSearch').val();
                var dem = 0;
                ListSP.forEach(function (item) {
                    if (name === item.TenSP) {
                        dem++;
                        $(location).attr('href', 'product.php?ma_san_pham=' + item.MaSP);
                    }
                })
                if (dem === 0) alert('không có sản phẩm cần tìm ');
            })
            $('#textSearch').keypress(function (e) {
                $('#textSearch').autocomplete(
                {
                    source: ListTenSP,
                });

                if (e.which == 13 || e.keyCode == 13) {
                    $('#btnSearch').click();
                }
            });
        })


    </script>


</body>
</html>